name: Hamilton CI Quality Gate

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  sonarqube:
    name: SonarQube Scan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Wichtig für die korrekte Zuordnung der Code-Zeilen

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v4
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}
        with:
          projectBaseDir: src_org
          # Diese Argumente lösen das Problem mit dem ngrok-Tunnel
          args: >
            -Dsonar.projectKey=hamilton-ventilator
            -Dsonar.scanner.skipVersionCheck=true
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }}
            -Dsonar.token=${{ secrets.SONAR_TOKEN }}
            -Dsonar.cxx.file.suffixes=.cpp,.hpp
            -Dsonar.sources=.
            -Dsonar.working.directory=/tmp/sonar
